/* Hero with video overlay */


.hero { position:relative;
     height:80vh; 
     display:flex;
      justify-content:center; 
      align-items:center;
       color:#fff; 
       width:100%;
       letter-spacing: 1px;
    }
.hero-video { position:absolute; 
    top:0; 
    left:0;
     width:100%;
      height:100%; 
      object-fit:cover;
       z-index:-1;
     }
.hero-content { z-index:1;
    display:flex;
     flex-direction:column; 
     justify-content:center;
     align-items:center;
     text-align:center;
     width:100%; 
      height:100%;
      background:rgba(62, 61, 61, 0.255); 
      font-size: 20px;
      color:#f3efef;
      
      }

.gallery {
     padding:30px 20px;
     text-align:center; 
      background: #ece0e0;
    }
    .gallery h1{
        font-size: 35px;
    }
.masonry-grid { 
    display:flex;
     margin-left:-2px;
     }
.masonry-col { 
    padding-left:5px; 
}
.gallery-img { 
    width:90%;
     margin-bottom:8px; 
     
     transition:transform .3s; 
    
    }
.gallery-img:hover { 
    transform:scale(1.05);
   
  transition: transform 0.3s ease;
 }


.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding:0 20px;
}

.about-text {
  flex: 1;
  padding: 2rem;
  z-index: 2;
  position: relative;
  background-color: rgb(227, 204, 204);
  align-items: center;
  justify-content: center;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 70%;
  height: 70%;
  object-fit: cover;

}

/*mobile */
@media (max-width: 768px) {
  .about-container {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    
  }

  .about-image {
    position: relative;
    width: 100%;
    height: 400px;
  }

  .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .about-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(14, 13, 13, 0.378);
    padding: 1rem;
   height:100%;
    width: 100%;
    text-align: center;
       padding: 1rem;
  
  }
}
.about-section{
  background-color: white;
}

.about-text h1{
  font-size: 40px;
  font-weight: 400px;
}


.team-grid { display:grid;
     grid-template-columns:repeat(auto-fit,minmax(200px,1fr)); 
     gap:20px;
     }
.team-card img { width:100%;
    border-radius:10px; }

.contact {

  background: #eadfdf;
  padding: 60px 20px;
  text-align: center;
}
  .contact h1{
        font-size: 35px;
    }

.section-title {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: bold;
  color: #111;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 800px;
  margin: auto;
}

.contact-box {
  background: rgb(194, 164, 164);
  padding: 10px;
  border-radius: 8px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition:transform .3s; 
}
.contact-box:hover{
      transform:scale(1.05);
}

.contact-icon {
  font-size: 28px;
  margin-bottom: 10px;
  color: #000;
}



/* Footer */
.footer { text-align:center; padding:20px; background:#222; color:#fff; }
