html { scroll-behavior: smooth; 
    overflow-x: hidden;
  max-width: 100%;
}
body { 
  margin:0; 
  padding:0;
  font-family:Georgia;
 background-color: #fbf4f6;}

.active { border-bottom:2px solid #000; }
